@using BitirmeProjesi.Models
@model List<model>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<div class="container-fluid">
    <div class="row">
        @{
            List<SelectListItem> weatherList = new List<SelectListItem>()
{ new SelectListItem { Text = "Gunluk Hava Durumu", Value ="1"},
new SelectListItem { Text = "Saatlik Hava Durumu", Value ="2"}
};
            List<SelectListItem> GunlukList = new List<SelectListItem>()
{ new SelectListItem { Text = "1.Gün", Value ="1"},
new SelectListItem { Text = "2.Gün", Value ="2"},
new SelectListItem { Text = "3.Gün", Value = "3"},
new SelectListItem { Text = "4.Gün", Value ="4"},
new SelectListItem { Text = "5.Gün", Value = "5"}
};

            List<SelectListItem> SaatlikList = new List<SelectListItem>()
{ new SelectListItem { Text = "00:00", Value ="1"},
new SelectListItem { Text = "03:00", Value ="2"},
new SelectListItem { Text = "06:00", Value = "3"},
new SelectListItem { Text = "09:00", Value ="4"},
new SelectListItem { Text = "12:00", Value = "5"},
new SelectListItem { Text = "15:00", Value ="6"},
new SelectListItem { Text = "18:00", Value ="7"},
new SelectListItem { Text = "21:00", Value = "8"},
};
            List<SelectListItem> SondurumList = new List<SelectListItem>();
            List<SelectListItem> SondurumIlce = new List<SelectListItem>();
        }
        <div class="form-group col-md-2">
            @Html.DropDownList("illiste", (List<SelectListItem>)ViewBag.liste, "il Seçin", new { @class = "form-control", id = "_ilListe" })
        </div>
        <div id="SecimYap" class="form-group col-md-3">
            @Html.DropDownList("DurumListe", weatherList, new { @class = "form-control", id = "Durum" })
        </div>
        <div id="gunsecim" class="form-group col-md-3">
            @Html.DropDownList("GunlukListe", GunlukList, new { @class = "form-control", id = "Gun" })
        </div>
        <div id="saatsecim" class="form-group col-md-3" style="display:none">
            @Html.DropDownList("SaatlikListe", SaatlikList, new { @class = "form-control", id = "Saat" })
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div id="VeriGonder" class="btn btn-success col-md-1">Görüntüle</div>
        <script type="text/javascript">
            $(function () {
                var myDate = new Date(2018, 01, 16);
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();
                var hour = today.getHours();
                if (hour < 3) {
                    dd = dd - 1;
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                }
                else {
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                }

                if (mm < 10) {
                    mm = '0' + mm
                }

                today = yyyy + '-' + mm + '-' + dd;
                $('#datetimepicker1').datetimepicker({
                    format: 'YYYY-MM-DD',
                    minDate: myDate,
                    maxDate: today
                });
            });
        </script>
    </div>
</div>

<script>
    $(function () {
        $("#SecimYap").click(function () {
            $("#SecimYap").change(function () {
                var val = $("#Durum").select().val();
                if (val == "2") {
                    $("#sd_saatsecim").hide(300);
                    if (document.getElementById("gunsecim").style.display != "none") {
                        $("#gunsecim").hide(300);
                        $("#saatsecim").show(300);
                    }
                    else
                        $("#saatsecim").show(300);
                }
                else if (val == "1") {
                    $("#sd_saatsecim").hide(300);
                    if (document.getElementById("saatsecim").style.display != "none") {
                        $("#saatsecim").hide(300);
                        $("#gunsecim").show(300);
                    }
                    else {
                        $("#gunsecim").show(300);
                    }
                }
            })

        });

    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <div id="map"></div>

            <script>
                function GunlukistekSaati() {
                    document.getElementById('Sondurumsaat').options.length = 0;
                    var SelectedDate = $('#datetimepicker1').data('date');
                    var datetime = SelectedDate.split('-');
                    console.log("gun:" + datetime[2]);
                    var tarih = new Date();
                    var gun = tarih.getDate();
                    var saat = tarih.getHours();
                    if (gun == datetime[2]) {
                        console.log("tarihler eşit");
                        var select = document.getElementById("Sondurumsaat");
                        for (var i = saat; i >= 0; i--) {
                            var option = document.createElement('option');
                            if (i < 10) {
                                option.text = option.value = "0" + i + ":00";
                            }
                            else {
                                option.text = option.value = i + ":00";
                            }
                            select.add(option, 0);
                        }
                    }
                    else {
                        var select = document.getElementById("Sondurumsaat");
                        for (var i = 23; i >= 0; i--) {
                            var option = document.createElement('option');
                            if (i < 10) {
                                option.text = option.value = "0" + i + ":00";
                            }
                            else {
                                option.text = option.value = i + ":00";
                            }
                            select.add(option, 0);
                        }
                    }

                };

                $("#VeriGonder").click(function (map) {
                    var ilsecilen = document.getElementById("_ilListe");
                    var Myil = ilsecilen.options[ilsecilen.selectedIndex].text;
                    var SelectedDate = $('#datetimepicker1').data('date');
                    var val = $("#Durum").val();
                    $("#Uc_gunluk").hide(300);
                    $("#GunlukSaatlik").hide(300);
                    $("#sondurumVeriler").hide(300);
                    if (val == "1") {
                        var gun = $("#Gun").val();
                        var VeriListe = [Myil, val, gun, SelectedDate];
                        $.ajax({
                            method: "POST",
                            url: "/Home/VeriGetir",
                            data: { veriler: VeriListe },
                            beforeSend: function () {
                                console.log("Veriler Gonderildi.");
                                console.log(VeriListe);
                            }
                        }).done(function (d) {
                            console.log(d);
                            var Genelilce = [];
                            if ($("#_ilListe").val() == "") {
                                for (var i = 0; i < d.length; i++) {
                                    var deneme = d[i];
                                    var Dizi = [deneme.ilAdi, deneme.lat, deneme.lang, deneme.EnyuksekSicaklik, deneme.EnDusukSicaklik, deneme.Resim];
                                    Genelilce.push(Dizi);
                                }
                                UlkeMap(Genelilce);
                            }
                            else {
                                document.getElementById('Sondurumilce').options.length = 0;
                                var select = document.getElementById("Sondurumilce");
                                for (var i = 0; i < d.length; i++) {
                                    var ilce = d[i];
                                    var ilceler = [ilce.ilceAdi, ilce.lat, ilce.lang, ilce.EnyuksekSicaklik, ilce.EnDusukSicaklik, ilce.Resim];
                                    Genelilce.push(ilceler);
                                    if (ilce.GunlukistNo % 100 == 1 && val == "1") {
                                        $("#GunlukSaatlik").show(300, function () {
                                            $("#saatliktablo").hide(300, function () {
                                                $("#gunluktablo").show(300, function () {
                                                    $("#hkodu").html(ilce.hadiseKodu);
                                                    $("#edn").html(ilce.EnDusukNem);
                                                    $("#eyn").html(ilce.EnYuksekNem);
                                                    $("#rh").html(ilce.RuzgarHizi);
                                                    $("#ry").html(ilce.RuzgarYon);
                                                    $("#eys").html(ilce.EnyuksekSicaklik);
                                                    $("#eds").html(ilce.EnDusukSicaklik);
                                                    $("#_ilad").html(ilce.ilAdi);
                                                });
                                            });
                                        });
                                    }
                                    var option = document.createElement('option');
                                    option.text = option.value = ilce.ilceAdi;
                                    select.add(option, 0);
                                }
                                ilMap(Genelilce);
                                $("#Uc_gunluk").show(300, function () {
                                    $("#laststate").html(Myil.toUpperCase());
                                    GunlukistekSaati();
                                });
                            }
                            console.log(Genelilce);
                        });
                    }
                    else if (val == "2") {

                        var saat = $("#Saat").val();
                        var VeriListe = [Myil, val, saat, SelectedDate];
                        $.ajax({
                            method: "POST",
                            url: "/Home/VeriGetir",
                            data: { veriler: VeriListe },
                            beforeSend: function () {
                                console.log("Veriler Gonderildi.");
                                console.log(VeriListe);
                            }
                        }).done(function (d) {
                            console.log(d);
                            var Genelilce = [];
                            console.log("Position index vs..:" + pos);
                            for (var i = 0; i < d.length; i++) {
                                var deneme = d[i];
                                var Dizi = [deneme.ilAdi, deneme.lat, deneme.lang, deneme.HissedilenSicaklik, deneme.Sicaklik, deneme.Resim];
                                Genelilce.push(Dizi);
                            }
                            var pos = d.map(function (e) { return e.ilAdi; }).indexOf(Myil);
                            degerim = d[pos];
                            UlkeMap(Genelilce);
                            if ($("#_ilListe").val() != "") {
                                $("#GunlukSaatlik").show(300, function () {
                                    $("#gunluktablo").hide(300, function () {
                                        $("#saatliktablo").show(300, function () {
                                            $("#saatlik_h").html(degerim.Hadise);
                                            $("#saatlik_s").html(degerim.Sicaklik);
                                            $("#saatlik_hs").html(degerim.HissedilenSicaklik);
                                            $("#saatlik_n").html(degerim.Nem);
                                            $("#saatlik_rh").html(degerim.RuzgarHizi);
                                            $("#saatlik_ry").html(degerim.RuzgarYon);
                                            $("#saatlik_mrh").html(degerim.MaxRuzgarHizi);
                                            $("#_iladSaat").html(degerim.ilAdi);
                                        });
                                    });
                                });
                                $("#Uc_gunluk").show(300, function () {
                                    $("#laststate").html(Myil.toUpperCase());
                                    GunlukistekSaati();
                                    document.getElementById('Sondurumilce').options.length = 0;
                                    $.ajax({
                                        method: "POST",
                                        url: "/Home/IlceGetir",
                                        data: { il_adi: Myil },
                                        beforeSend: function () {
                                            console.log("Veriler Gonderildi.");
                                        }
                                    }).done(function (d) {
                                        console.log(d);

                                        var select = document.getElementById("Sondurumilce");
                                        for (var i = 0; i < d.length; i++) {
                                            var option = document.createElement('option');
                                            option.text = option.value = d[i];
                                            select.add(option, 0);
                                        }

                                    });
                                });
                            }

                        });
                    }
                });

                //İl seçilmeden istek yapılırsa bu harita açılacaktır.
                function UlkeMap(Degerler) {
                    console.log("Degerler parametresi geldi..");
                    console.log(Degerler);
                    var merkez = Degerler[0];
                    var map1 = new google.maps.Map(document.getElementById('map'), {
                        zoom: 6,
                        minZoom: 6,
                        center: { lat: 39.225533, lng: 34.966287 }
                    });
                    console.log("ilMapiçin haritaya geldi..");
                    setMarkers(map1, Degerler);
                }
                //bir il seçildiğinde o ilin haritadaki konumuna odaklanıyor.
                function ilMap(Degerler) {
                    var merkez = Degerler[0];
                    var map1 = new google.maps.Map(document.getElementById('map'), {
                        zoom: 9,
                        minZoom: 6,
                        center: { lat: merkez[1], lng: merkez[2] }
                    });
                    console.log("ilMapiçin haritaya geldi..");
                    setMarkers(map1, Degerler);
                }
                //Mouse ile haritada tıklanan kordinatların ilçe ve il adlarını getirir.
                function Konumbul(map) {
                    var geocoder = new google.maps.Geocoder();
                    google.maps.event.addListener(map, 'click', function (event) {
                        geocoder.geocode({
                            'latLng': event.latLng
                        }, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                if (results[0]) {
                                    //alert(results[0].address_components[2].long_name + " --- " + results[0].address_components[3].long_name + "    geniş Adres:" + results[0].formatted_address);//formatted_address
                                    dizi.push(results[0].address_components[2].long_name);
                                }
                            }
                        });
                    });
                }

                //Başlangıçta gelen haritada set edilen map objesi..
                function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 6,
                        minZoom: 6,
                        center: { lat: 39.225533, lng: 34.966287 }
                    });

                    GetData(map);

                }
                //İlk başta yapılan get isteği. İndex sayfası açılırken ilk gelen haritadaki değerler bu fonksiyonla oluşuyor..
                function GetData(map) {
                    $.get("/Home/VerileriGetir", function (data) {
                    }).done(function (data) {
                        var Degerler = [];
                        for (var i = 0; i < data.length; i++) {
                            var deneme = data[i];
                            var Dizi = [deneme.ilAd, deneme.lat, deneme.lang, deneme.EnyuksekSicaklik, deneme.EnDusukSicaklik, deneme.Resim];
                            Degerler.push(Dizi);
                        }
                        setMarkers(map, Degerler);

                    });
                }
                //Harita üzerinde eklenen icon, yazı bilgi gibi şeyler burada yapılıyor..
                function setMarkers(map, Degerler) {
                    var labelIndex = 0;
                    var shape = {
                        coords: [1, 1, 1, 20, 18, 20, 18, 1],
                        type: 'poly'
                    };
                    for (var i = 0; i < Degerler.length; i++) {
                        var beach = Degerler[i];
                        var labels = {
                            text: beach[3] + " " + beach[4],
                            font: 'Comic-Sans',       //The font family for the label. (e.g. 'Arial')
                            size: 18,           //The size of the label font in pixels
                            color: '#00040a',       //The color of the label. (e.g. 'black' or '#000000')
                            hover_color: '#851f5e',
                            anchor: new google.maps.Point(0, 50)
                        }

                        var image = {
                            url: "/_Images/" + beach[5],

                            // This marker is 20 pixels wide by 32 pixels high.
                            size: new google.maps.Size(36, 48),
                            // The origin for this image is (0, 0).
                            origin: new google.maps.Point(0, 0),
                            // The anchor for this image is the base of the flagpole at (0, 32).
                            anchor: new google.maps.Point(0, 0)
                        };
                        var marker = new google.maps.Marker({
                            position: { lat: beach[1], lng: beach[2] },
                            map: map,
                            //label: labels,
                            icon: image,
                            //shape: shape,
                            title: beach[0],
                            zIndex: beach[3]
                        });
                        console.log("sdasda");
                    }
                }
            </script>

            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7RdEt-RwmNpGyyiFQMDRUTCHzEYEvqxc&callback=initMap">
            </script>
        </div>
        <div id="GunlukSaatlik" class="col-xs-3">
            <div id="gunluktablo" style="display:none">
                <ul class="list-group">
                    <li id="_ilad" class="list-group-item active" style="text-align:center">
                    </li>
                    <li class="list-group-item">
                        <i>En Düşük Sicaklik:</i>
                        <b id="eds"></b>
                    </li>
                    <li class="list-group-item">
                        <i>En Yüksek Sicaklik:</i>
                        <b id="eys"></b>
                    </li>
                    <li class="list-group-item">
                        <i>Hadise:</i>
                        <b id="hkodu"></b>
                    </li>
                    <li class="list-group-item">
                        <i>En Düşük Nem:</i>
                        <b id="edn"></b>
                    </li>
                    <li class="list-group-item">
                        <i>En Yüksek Nem:</i>
                        <b id="eyn"></b>
                    </li>
                    <li class="list-group-item">
                        <i>Rüzgar Hizi:</i>
                        <b id="rh"></b>
                    </li>
                    <li class="list-group-item">
                        <i>Rüzgar Yönü:</i>
                        <b id="ry"></b>
                    </li>
                </ul>
            </div>
            <div id="saatliktablo" style="display:none">
                <ul class="list-group">
                    <li id="_iladSaat" class="list-group-item active" style="text-align:center">
                    </li>
                    <li class="list-group-item">
                        <i>Sicaklik:</i>
                        <b id="saatlik_s"></b>
                    </li>
                    <li class="list-group-item">
                        <i>Hissedilen Sicaklik:</i>
                        <b id="saatlik_hs"></b>
                    </li>
                    <li class="list-group-item">
                        <i>Hadise:</i>
                        <b id="saatlik_h"></b>
                    </li>
                    <li class="list-group-item">
                        <i>Nem:</i>
                        <b id="saatlik_n"></b>
                    </li>
                    <li class="list-group-item">
                        <i>Rüzgar Yönü:</i>
                        <b id="saatlik_ry"></b>
                    </li>
                    <li class="list-group-item">
                        <i>Rüzgar Hizi:</i>
                        <b id="saatlik_rh"></b>
                    </li>
                    <li class="list-group-item">
                        <i> Max. Rüzgar Hizi:</i>
                        <b id="saatlik_mrh"></b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <br />
<style>
    li>b {
        color: #ff0000;
        font-size: medium;
        font-style: oblique;
    }
</style>
<div id="Uc_gunluk" class="container-fluid" style="display:none">
    <div class="row">
        <ul class="list-group col-xs-8 col-xs-offset-2">
            <li id="laststate" class="list-group-item active" style="text-align:center">il ADI BURADA</li>
        </ul>
        <div id="anliktablo" class="col-xs-8">
            <ul class="list-group">
                <li id="laststate" class="list-group-item active" style="text-align:center">Son Durum</li>
            </ul>
            <div class="row">
                <div class="col-xs-4">
                    @Html.DropDownList("SondurumListe_ilce", SondurumIlce, new { @class = "form-control", id = "Sondurumilce" })

                </div>
                <div class="col-xs-4">
                    @Html.DropDownList("SondurumListe", SondurumList, new { @class = "form-control", id = "Sondurumsaat" })
                </div>
                <div id="anlikGoster" class="btn btn-success col-xs-2">Göster</div>
            </div><br />
            <div id="sondurumVeriler" style="display:none">
                <ul class="col-xs-6">
                    <li class="list-group-item"> AktuelBasinc          :<b id="AktuelBasinc"></b></li>
                    <li class="list-group-item"> DenizSicaklik         :<b id="DenizSicaklik"></b></li>
                    <li class="list-group-item"> DenizIndirgenmisBasinc:<b id="DenizIndirgenmisBasinc"></b></li>
                    <li class="list-group-item"> Gorus:                 <b id="Gorus"></b></li>
                    <li class="list-group-item"> HadiseKodu:            <b id="HadiseKodu"></b></li>
                    <li class="list-group-item"> Kapalilik:             <b id="Kapalilik"></b></li>
                    <li class="list-group-item"> KarYukseklik:          <b id="KarYukseklik"></b></li>
                    <li class="list-group-item"> Nem       :            <b id="Nem"></b></li>
                    <li class="list-group-item"> RasatMetar:            <b id="RasatMetar"></b></li>
                    <li class="list-group-item"> RasatSinoptik:         <b id="RasatSinoptik"></b></li>
                    <li class="list-group-item"> RasatTaf     :         <b id="RasatTaf"></b></li>
                </ul>
                <ul class="col-xs-6">
                    <li class="list-group-item"> RuzgarHizi     :<b id="RuzgarHizi"></b> </li>
                    <li class="list-group-item"> RuzgarYon      :<b id="RuzgarYon"></b> </li>
                    <li class="list-group-item"> Sicaklik       :<b id="Sicaklik"></b> </li>
                    <li class="list-group-item"> VeriZamani     :<b id="VeriZamani"></b> </li>
                    <li class="list-group-item"> Yagis00now     :<b id="Yagis00now"></b> </li>
                    <li class="list-group-item"> Yagis10dk      :<b id="Yagis10dk"></b> </li>
                    <li class="list-group-item"> Yagis12Saat    :<b id="Yagis12Saat"></b> </li>
                    <li class="list-group-item"> Yagis1Saat     :<b id="Yagis1Saat"></b> </li>
                    <li class="list-group-item"> Yagis24Saat    :<b id="Yagis24Saat"></b> </li>
                    <li class="list-group-item"> Yagis6Saat     :<b id="Yagis6Saat"></b> </li>
                    <li class="list-group-item"> DenizVeriZamani:<b id="DenizVeriZamani"></b></li>
                </ul>
            </div>
        </div>
        <div id="ucdegertablo" class="col-xs-4">
            <ul class="list-group">
                <li id="extreme" class="list-group-item active" style="text-align:center">Uç Değerler</li>
            </ul>
        </div>
    </div>
</div>
<script>
                $(function () {
                    $("#anlikGoster").click(function () {
                        var ilsecilen = document.getElementById("_ilListe");
                        var il = ilsecilen.options[ilsecilen.selectedIndex].text;
                        var SelectedTime = $('#datetimepicker1').data('date');
                        var saatsecilen = document.getElementById("Sondurumsaat");
                        var SelectedHour = saatsecilen.options[saatsecilen.selectedIndex].text;
                        var ilce = $("#Sondurumilce").val();
                        var saat = $("#Sondurumsaat").val();
                        dataList = [il, ilce, SelectedTime, SelectedHour];
                        $.ajax({
                            method: "POST",
                            url: "/Home/SondurumGetir",
                            data: { dataliste: dataList },
                            beforeSend: function () {
                                console.log("Veriler Gonderildi.");
                            }
                        }).done(function (d) {
                            console.log(d);
                            var ilce = d;
                            $("#sondurumVeriler").show(300, function () {
                                $("#AktuelBasinc").html(ilce.AktuelBasinc);
                                $("#DenizSicaklik").html(ilce.DenizSicaklik);
                                $("#DenizIndirgenmisBasinc").html(ilce.DenizIndirgenmisBasinc);
                                $("#Gorus").html(ilce.Gorus);
                                $("#HadiseKodu").html(ilce.HadiseKodu);
                                $("#Kapalilik").html(ilce.Kapalilik);
                                $("#KarYukseklik").html(ilce.KarYukseklik);
                                $("#Nem").html(ilce.Nem);
                                $("#RasatMetar").html(ilce.RasatMetar);
                                $("#RasatSinoptik").html(ilce.RasatSinoptik);
                                $("#RasatTaf").html(ilce.RasatTaf);
                                $("#RuzgarHizi").html(ilce.RuzgarHizi);
                                $("#RuzgarYon").html(ilce.RuzgarYon);
                                $("#Sicaklik").html(ilce.Sicaklik);
                                $("#VeriZamani").html(ilce.VeriZamani);
                                $("#Yagis00now").html(ilce.Yagis00now);
                                $("#Yagis10dk").html(ilce.Yagis10dk);
                                $("#Yagis12Saat").html(ilce.Yagis12Saat);
                                $("#Yagis1Saat").html(ilce.Yagis1Saat);
                                $("#Yagis24Saat").html(ilce.Yagis24Saat);
                                $("#Yagis6Saat").html(ilce.Yagis6Saat);
                                $("#DenizVeriZamani").html(ilce.DenizVeriZamani);
                            });
                        });
                    });
                });
</script>

